
<%- include("header") -%>

<h2>hello</h2>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, suscipit eos! Culpa inventore, quibusdam velit illum, magni nostrum maiores, asperiores quidem mollitia quas nesciunt ducimus consectetur a incidunt! Corrupti, in fugit voluptas libero sequi quisquam illum fugiat deleniti. Omnis, quod dolore! Dolor aliquam dolorem dolorum?


<%- include("footer") -%>